body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#container {
  display: block;
  background-color: black;
  width: 75vw;
  height: 70vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
}
#img-container {
  height: 75vh;
  position: relative;
  gap: 5vh;
}
.carousel {
  width: auto;
  margin-top: -10px;
  height: 75vh;
}
