body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#container {
  display: block;
  background-color: black;
  width: 75vw;
  height: 80vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
}
#img-container {
  width: 100%;
  position: relative;
}
.carousel {
  width: auto;
  height: 80vh;
}
